<section class="directors-section" id="directors">
  <div class="directors-overlay"></div>
<div class="directors-title">
  <h1>Board of Directors</h1>

</div>  <div class="directors-content">
    <div class="row1">
      <img
        src="../../../assets/images/leftlines.png"
        class="left-lines"
        alt=""
      />
      <div class="member-card">
        <div class="card-overlay"></div>
        <img
          src="../../../assets/images/image724.png"
          alt="Person Image"
          class="member1-image"
        />
        <div class="card-content">
          <h2 class="member-name">HE Faisal Alibrahim</h2>
          <p class="member-title">Chair man</p>
        </div>
      </div>
      <img
        src="../../../assets/images/rightlines.png"
        alt=""
        class="right-lines"
      />
    </div>
    <div class="row2">
      <div class="member-card" *ngFor="let member of data.members">
        <div class="card-overlay"></div>
        <img [src]="member.image" alt="Person Image" class="member-image" />
        <div class="card-content">
          <h2 class="member-name">{{ member.name }}</h2>
          <p class="member-title">{{ member.title }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="top-footer">
    <div class="left-footer">
      <img
        src="../../../assets/images/lines.png"
        alt="img"
        class="footer-lines"
      />
    </div>
    <div class="right-footer">
      <img
        src="../../../assets/images/path501.png"
        alt="img"
        class="fund-img"
      />
      <img
        src="../../../assets/images/path176.png"
        alt="img"
        class="vision-img"
      />
      <div class="info">
        <p>Contact: info--infra.gov.sa</p>
        <p>All rights reserved</p>
        <p>National Infrastructure Fund 2024</p>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <img src="../../../assets/images/path508.png" alt="" class="infra-footer" />
  </div>
</footer>
