<div class="header">
  <div class="main-header">
    <div class="logo">
     <img class="logoImg" src="../../../assets/images/infra.png" alt="">
    </div>
    <div class="nav-menu">
      <a href="#about-infra">ABOUT INFRA</a>
      <a href="#targeted-sectors">TARGETED SECTORS</a>
      <a href="#objectives">OBJECTIVES</a>
      <a href="#news">NEWS</a>
      <a href="#board-of-directors">BOARD OF DIRECTORS</a>
    </div>
  </div>
  <div class="header-icons">
    <a href="#">
      <img src="../../../assets/images/path894.png" alt="Path 894">
    </a>
    <a href="#">
      <img src="../../../assets/images/path886.png" alt="Path 886">
    </a>
    <a href="#" >
      <img src="../../../assets/images/youtube.png" alt="YouTube">
    </a>
    <a href="#" >
      <img src="../../../assets/images/linkedin.png" alt="LinkedIn">
    </a>
  </div>
  
  
</div>