html {
  position: relative;
  scroll-behavior: smooth;
  
  @include breakpoint(mop) {
    font-size: 12px;
  }
  @include breakpoint(sm) {
    font-size: 12px;
  }
  @include breakpoint(md) {
    font-size: 14px;
  }
  @include breakpoint(xl) {
    font-size: 16px;
  }
  @include breakpoint(xxl) {
    font-size: 16px;
  }
}

html * {
  font-family: "SST";
}