<section class="about-section" id="about-infra">
    <div class="overlay">
      <div class="content">
  
        <img class="infra1" src="../../../assets/images/infra1.png" alt="">
<div class="main-title">
  <h1 >About the Fund</h1>
</div>      

        <p class="main-text">
          The National Infrastructure Fund (INFRA) is the Kingdom’s lead developmental 
          financing partner for infrastructure. It facilitates higher levels of private sector 
          investment to accelerate the delivery of infrastructure projects critical to the 
          Kingdom’s ongoing social and economic transformation.<br><br>
          INFRA partners with local and global investors to build long term depth in the 
          Kingdom’s infrastructure financing markets. Its specialist expertise supports 
          innovation across all sectors and project types.<br><br>
          INFRA operates under a professional investment framework to ensure its 
          financial sustainability over the long term.<br><br>
          As a developmental impact investor, it prioritizes projects with positive social 
          and economic outcomes, and it is committed to increasing investment in the 
          Kingdom’s sustainable infrastructure to ensure a green and prosperous future.<br><br>
          INFRA is a supervised entity of the National Development Fund.
        </p>
      </div>
    </div>
  </section>
  