// $main-bg: #f5f6fa;
// $menu-bg: #ECEBEB;
// $menu-active-bg: #e2e0e0;
// $form-border: #e2e0e0;
// $menu-border: #e2e0e0;
// $txt-dark: #343434;
// $txt-light: #878787;
// $dark-color: #494b78;
// $main-color: #9698ab;
// $light-color: #919191;
// $white-bg: #fff;
// $border: #eeeeee;
// $icon: #616364;
// $active-btn: #d96978;
// $btn-hover: #e6bec3;
// $btn-bg: #f5f9fd;
// $light-blue: #6e6f97;
// $dark-red: #de8592;
// $card1: #b85a8c;
// $card2: #4f8fca;
// $card3: #fe8733;
// $card4: #69b6b0;
// $card5: #95b559;
// $table-bg: #eceafc;
// $time-line: #707070;
// $tree-border: #E9E9E9;
// $tree-line: #A8A7AD;
// $tree-lable: #B2B3D5;
// $tree-menu-border: #E7E7E7;
// $grid-font: #7E7E7E;
// $wizard-item: #A8A8A8;
// $disabled-bg: #CFCFCF;


$primary-bg-color: #17372eff;    
$secondary-bg-color: #bfded9ff;  
$highlight-color: rgb(208, 190, 169);  
$beige-color:rgb(206, 188, 166)  ;
$white-color: #ffffffff;       
$text-color: #18372fff;     
$card-color: #234d42ff;    
$card-overlay: rgba(76, 100, 84, 0.5);  
