// @font-face {
//   font-family: "neo";
//   src: url("../../../fonts/neo-sans/neosansarabic.ttf");
// }

// @font-face {
//   font-family: "neo-bold";
//   src: url("../../../fonts/neo-sans/neosansarabic-bold.ttf");
// }

// @font-face {
//   font-family: "neo-med";
//   src: url("../../../fonts/neo-sans/neosansarabic-medium.ttf");
// }

// @font-face {
//   font-family: "neo-lt";
//   src: url("../../../fonts/neo-sans/neosansarabic-light.ttf");
// }

// @font-face {
//   font-family: "icomon";
//   src: url("../../../fonts/iconmoon/icomoon.ttf");
// }

//--------------------------------------------------//

@font-face {
  font-family: 'SST';
  src: url('../../../fonts/sst/SSTRg.TTF') ;
}
@font-face {
  font-family: 'SST-bold';
  src: url('../../../fonts/sst/SSTBold.TTF') 
       url('../../../fonts/sst/SSTLight.TTF') ;
}